version: "3.7"
services:
  bot:
    build: .
    links:
      - db
      - redis
    env_file:
      - .env
    restart: on-failure
  db:
    image: postgres:12-alpine
    volumes:
      - postgresdb:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: discord
      POSTGRES_PASSWORD: hunter12
      POSTGRES_USER: discord
    ports:
      - "5432"
    restart: on-failure
  redis:
    image: redis:alpine
    restart: on-failure

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    depends_on:
      - db
    restart: on-failure

volumes:
  postgresdb:
